* {
    padding: 0;
    margin: 0;
}
body{
    align-content: center;
}
.container{
    width: 1920px;
    height: 3500px;
    background-color: #f5f5f5;
}
.header{
    display: flex;
    height: 930px;
    width: 1920px;
    background-color: white;
}
.fundament_left_up{
    height: 930px;
    width: 1255px;
    background: url(images/left.png);
}
.logo{
    margin-left: 330px;
    margin-top: 30px;
}
.yellow_long{
    margin-left: 325px;
    margin-top: 163px;
    height: 310px;
    width: 620px;
    background-color: #ffe400;
}
.blue_square1{
    position: relative;
    width: 310px;
    height: 310px;
    margin-left: 945px;
    background-color: #2297d8;
}
.blue_square{
    width: 310px;
    height: 310px;
    background-color: #2297d8;
    float: left;
}
.fundament_right_up{
    height: 930px;
    width: 665px;
    background: url(images/right.png);
}
.menu{
    background-color: #2297d8;
}
.white_square1{
    width: 310px;
    height: 310px;
    margin-top: 214px;
    background-color: white;
}
td{
    border: 0px;
    background-color: #282828;
    border-color: #282828;
    padding: 20px;
}
table{
    margin-top: 30px;
    margin-left: 80px;
    border-collapse: collapse;
    border: 0px;
    border-color: #282828;
}
.container5{
    width: 1240px;
    height: 1830px;
    margin-left: 325px;
    background-color: dimgray;
}
.section1{
    width: 1240px;
    height: 620px;
    margin-left: 325px;
    background-color: #d7d7d7;
}
.container4{
    width: 1240px;
    height: 310px;
}
.white_square2{
    width: 310px;
    height: 310px;
    background-color: white;
    float: left;
}
.glass_square1{
    width: 310px;
    height: 310px;
    float: left;
    background: url(images/293.png);
}
.section2{
    margin-left: 325px;
}
.yellow_square{
    width: 310px;
    height: 310px;
    background-color: #ffe400;
    float: left;
}
.search{
    position: relative;
    height: 310px;
    width: 975px;
    background-color: #282828;
    float: left;
}
.white_long{
    height: 310px;
    width: 620px;
    background-color: white;
    float: left;
}
.glass_long{
    height: 310px;
    width: 620px;
    float: left;
    background: url(images/586.png);
}
.wheat_long{
    height: 310px;
    width: 620px;
    float: left;
    background-color: #fcf3d3;
}
.white_horizont{
    height: 620px;
    width: 310px;
    background-color: white;
    float: left;
}
.container3{
    width: 620px;
    height: 620px;
    float: left;
    background: url(images/586x586.png);
}
.zagolovok{
    margin-left: 20px;
    width: 320px;
    max-width: 70%;
    float: none;
    line-height: 28pt;
    font-family: 'calibri';
    font-size: 28pt;
    font-weight: bold; 
    color: #363636;
}
.zagolovok1{
    margin-left: 20px;
    width: 320px;
    max-width: 70%;
    float: none;
    line-height: 20pt;
    font-family: 'calibri';
    font-size: 20pt;
    font-weight: bold; 
    color: #363636;
}
.otstup_zagolovka{
    padding-top: 25px;
}
.palka{
    margin-left: 20px;
}
.text{
    width: 550px;
    max-width: 80%;
    margin-left: 20px;
    font-size: 13pt;
    font-family: 'calibri';
    font-weight: bold;
    color: #363636;
}
.text2{
    width: 550px;
    max-width: 80%;
    margin-left: 20px;
    font-size: 13pt;
    font-family: 'calibri';
    font-weight: bold;
    color: #A0A0A0;
}
.text1{
    width: 550px;
    max-width: 80%;
    margin-left: 20px;
    font-size: 13pt;
    font-family: 'calibri';
    font-weight: bold;
    color: #A0A0A0;
}
.otstup_texta{
    padding-top: 10px;
}
.grey_button1{
    margin-left: 20px;
    margin-top: 20px;
    line-height: 150px;
    text-align: center;
    background-color: #363636;
    color: #ffffff;
    font-family: 'calibri';
    font-weight: bold;
    text-decoration: none; 
    user-select: none;
    padding: 15px;
    transition: 0.2s;
}
a.grey_button1:hover{
    background-color: #707070;
}
a.grey_button1:active{
    background-color: #A0A0A0;
}
.yellow_button{
    width: 150px;
    height: 50px;
    margin-left: 20px;
    margin-top: 25px;
    line-height: 50px;
    text-align: center;
    background-color: #ffe400;
    color: #363636;
    font-family: 'calibri';
    font-weight: bold;
}
.otstup_mejdu{
    height: 20px;
}
.otstup_mejdu2{
    height: 120px;
}
.elements{
    left: 50%;
    margin-top: 100px;
    margin-left: 119.5px;
}
.elements1{
    left: 50%;
    margin-top: 100px;
    margin-left: 128px;
}
.under_elements{
    line-height: 40px;
    text-align: center;
    font-family: 'calibri';
    color: white;
    font-weight: bold;
}.under_elements1{
    line-height: 40px;
    text-align: center;
    font-family: 'calibri';
    color: #363636;
    font-weight: bold;
}
.switch{
    margin-top: 50px;
    margin-left: 144px;
    margin-bottom: 50px;
}
.slider1{
    text-align: center;
    font-family: verdana;
    font-size: 20pt;
    margin-left: -20px;
}
.span1{
    position: absolute;
    font-family: verdana;
    font-size: 15pt;
}
.corner{
    background: none;
}
.first_romb{
    margin-top: 143px;
    margin-left: 298px;
}
.second_romb{
    margin-top: 298px;
    margin-left: 143px;
}
.third_romb{
    margin-top: 143px;
    margin-left: -12px;
}
.otstup_search{
    margin-top: 120px;
    margin-left: 50px;
    margin-bottom: -10px;
}
.otstup_search p {
    color: #d7d7d7;
    font-family: calibri;
    font-size: 15pt;
}
.polosa{
    margin-left: 50px;
}
.lupa{
    position: absolute;
    top: 120px;
    left: 550px;
}
.i60x60{
    margin-top: 30px;
    margin-left: 45%;
    margin-bottom: 10px;
}
.stars{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 43.5%;
}
.name{
    text-align: center;
    font-family: calibri;
    font-weight: bold;
    color: #363636;
}
.text_long{
    text-align: center;
    margin-left: 10%;
    font-weight: bold;
    font-family: calibri;
    max-width: 500px;
    color: #A0A0A0;
}
.wheat_long .otstup_slider{
    margin-left: 270px;
    margin-top: 30px;
}
.wheat_long  .slider_palka1{
    width: 30px;
    height: 5px;
    background: #A0A0A0;
    float: left;
}
.wheat_long  .slider_palka2{
    width: 30px;
    height: 5px;
    margin-left: 15px;
    background: #282828;
    float: left;
}
.elements2{
    margin: 25px;
}
.numbers{
    font-family: calibri;
    font-size: 30pt;
    margin-left: 25px;
    font-weight: 500;
    color: #707070;
}
.description{
    font-family: calibri;
    font-size: 12pt;
    margin-left: 25px;
    font-weight: 500;
    color: #707070;
}
.white_square2 .i60x60{
    margin-left: 41%;
}
.white_square2 .stars{
    margin-left: 38%;
}
.white_square2 .text_long{
    margin-left: 4%;
}
.blue_square .zagolovok{
    color: white;
}
.blue_square .otstup_zagolovka{
    margin-bottom: 10px;
}
.blue_square .text{
    color: white;
    font-size: 15pt;
}
.blue_square .text2{
    color: white;
    font-size: 12pt;
    opacity: 0.6;
    line-height: 50px;
}
.blue_square .otstup_slider{
    margin-left: 25px;
    margin-top: 50px;
}
.blue_square  .slider_palka1{
    width: 30px;
    height: 5px;
    background: white;
    float: left;
}
.blue_square  .slider_palka2{
    width: 30px;
    height: 5px;
    margin-left: 15px;
    background: white;
    opacity: 0.6;
    float: left;
}
.e-mail{
    width: 250px;
    height: 50px;
    margin-left: 20px;
    margin-top: 60px;
    line-height: 50px;
    text-align: left;
    text-indent: 10px;
    background-color: white;
    color: #2297d8;
    font-family: 'calibri';
    font-weight: bold;
}
.sign_up{
    width: 550px;
    max-width: 80%;
    margin-left: 20px;
    margin-top: 30px;
    text-align: right;
    font-size: 10pt;
    font-family: 'calibri';
    color: white;
}
.f1{
    margin-top: 40px;
    float: left;
    color: #A0A0A0;
    font-family: calibri;
}
.f2{
    float: right;
    margin-top: 40px;
    color: #A0A0A0;
    font-family: calibri;
}